@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body{
    margin: 0 auto;
    min-width: 500px;

}

#menu{
    position: relative;
    width: 300px;
    left: 3%; 
    float: left;
    
    
    
    img{
        position: relative;
        left: 60px;
        top: 60px;
        height: 80px; 
    }
    
    ul{
        position: relative;
        top: 100px;
        list-style-type: none;
        
        li{
            margin-top: 10px;
            width: 100px;
            
            @media (max-width:1000px){
                position: relative;
                right: 50px;
            }
        }
    }
    
    p{
      position: absolute;
      top: 73px;
      left: 8px;
      font-family: 'Indie Flower', cursive;
      font-size: 40px;
        
        
    }
}

#content{
    position: relative;
    
    top: 60px;
    width: 90%;
    height: 100%;
    
    #button{    
        display: inline;
        height: 50px;
        width: 50px;
        
        @media (max-width: 1000px){
            width: 30px;
            height: 30px;
            
        }
    }
    
    img{
        position: relative;
        cursor: pointer;
        
    }     
        
    p:first-child{
        font-family: 'Arial', cursive;
        font-size: 36px;  
             @media (max-width: 1000px){
                visibility: hidden;
                position: ;
                left: -100px;
            }
    }
    
    p:nth-child(2){
        position: relative;
        bottom: 100px;
        bottom: 95px;
        float: right;
        
        input{
            border-radius: 50px;
            position: relative;
            left:15px;
        }
    }
    
    p:nth-child(3){
        position: relative;

    }

#table{  
    table{ 
        position: fixed;
        left: 300px;
        top: 130px;
        width: 700px;
        
        @media (max-width: 1000px){
            width: 500px;
            left: 200px;
        }
        
        td{
            border-bottom: 3px solid black;
        }
        td img {
            width: 30px;
        }
    }
}
    
    
}

